<div layout="column">

<section class="container">
    <div>
    <div  class="md-lightgrey md-whiteframe-2dp md-headline text">Vår bakgrund är inom grafisk design och frontend utveckling. Vi utvecklar allt från applikationer för stora företag till grafiskt tryckmaterial för det mindre företaget.</div>
    <div flex layout="column" layout-gt-sm="row">
        <div layout-gt-sm="column">
            <div class="md-whiteframe-2dp"><img src="assets/img/tangentbord.jpg"></img></div>
            <div layout-padding class="md-darkgrey md-whiteframe-2dp text">
                <span class="md-title">Språken/Programmen vi utvecklar med:</span>
                <div layout="column" layout-gt-sm="row">
                    <div flex-gt-sm="50" class="md-title">
                        <li>Adobe</li>  
                        <li>Tryckkunskap</li> 
                        <li>Java</li> 
                        <li>CSS3</li> 
                        <li>HTML5</li>  
                        <li>JavaScript</li>
                    </div> 
                    <div flex-gt-sm="50" class="md-title">
                        <li>Node.js</li> 
                        <li>Angular.js</li> 
                        <li>Angular Material</li> 
                        <li>Bootstrap</li> 
                        <li>PHP</li>
                    </div>
                </div>
            </div>
        </div>
        <div layout-gt-sm="column">
            <div layout-padding class="md-lightgrey md-whiteframe-2dp text"><p class="md-title">Vi finns i Malmö och är det lilla gedigna företaget som utvecklar design i både tryckt och digital form.</p></div>
            <div layout-padding class="md-purplegrey md-whiteframe-2dp text"><p class="md-title">Vi gillar samarbeten och design som förändrar. Vad driver det lilla företaget är passion för kreativitet.</p></div>
            <div layout-padding class="md-darkgrey md-whiteframe-2dp text"><p class="md-title">Vi jobbar med öppen källkod och därav finns vår hemsida på GitHub. www.github.se/elisfilipsson</p></div>
            <div class="md-whiteframe-2dp"><img src="assets/img/paperpen.jpg"></img></div>
        </div>
    </div>
    </div>
</section>

</div>

